PORT=3001
DATABASE_URL="postgresql://neondb_owner:npg_RiYEbmxauw70@ep-delicate-silence-acyfopog.sa-east-1.aws.neon.tech/neondb?sslmode=require"
"JWT_SECRET="745296"
JWT_EXPIRES_IN="7d" 

# Cloudinary (opcional - para upload de arquivos)
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
